.bio-properties-panel-dropdown-button {
  position: right;
  display: inline-block;
  font-family: sans-serif;
  margin-left: 15px;
}

.bio-properties-panel-dropdown-button__menu {
  display: none; 
  position: left;
  top: 100%; 
  left: 0;
  min-width: 180px;
  margin-top: 4px;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 4px 0;
}

.bio-properties-panel-dropdown-button.open .bio-properties-panel-dropdown-button__menu {
  display: block;
}


.bio-properties-panel-dropdown-button__menu-item {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  text-align: left;
  color: #374151;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  transition: background-color 0.2s;
}

.bio-properties-panel-dropdown-button__menu-item--actionable:hover {
  background-color: #f3f4f6;
  color: #111827;
}

.bio-properties-panel-dropdown-button__menu-item--separator {
  height: 1px;
  background-color: #e5e7eb;
  margin: 4px 0;
  padding: 0;
  cursor: default;
}

.my-custom-dropdown .dropdown-trigger-btn {
  background-color: #58585b;
  color: white;
  border-radius: 9px; /* Pill shape */
}