
.filter-menu {
  background: white;
  border-radius: 5px;
  z-index: 100;

  .filter-toggle {
    background: linear-gradient(180deg, #b5c3e3 0%, #dbdeff 40%, #f0f4ff 100%);
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #DDD;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #063a6e;
    font-size: 14px;

    &:hover {
      background: #CCC;
    }
  }

  .filter-content {
    display: none;
    border-radius: 0 0 5px 5px;
    padding: 5px 4px;
    border-top: none;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    min-width: 150px;

    &.open {
      display: block;
    }

    label {
      display: block;
      padding: 3px;
      padding-right: 4px;
      cursor: pointer;
      font-size: 12px;

      input {
        margin-right: 6px;
        cursor: pointer;
      }

      &:hover {
        background: #F5F5F5;
        padding: 2px 4px;
        margin: 3px -4px;
      }
    }
  }
}

// Grey out filtered elements 
.filtered-hidden-explicit {
  opacity: 0.3 !important;
  filter: grayscale(100%);
  pointer-events: none;
}

.filtered-hidden-implicit {
  opacity: 0.0 !important;
  filter: grayscale(100%);
  pointer-events: none;
}


