
.filter-menu {
  background: white;
  border-radius: 5px;
  z-index: 100;

  .filter-toggle {
    background: linear-gradient(180deg, #b5c3e3 0%, #dbdeff 40%, #f0f4ff 100%);
    border-radius: 5px;
    border: 1px solid #DDD;
    display: block;
    display: block;
    padding: 5px 10px;
    margin: 6px auto 0px auto;
    cursor: pointer;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #063a6e;

    &:hover {
      background: #CCC;
    }
  }

    #js-toggle-checkboxes{
      font-size: 12px;
      padding: 3px 6px;
      font-weight: 500;
    }
    #js-filter-toggle {
      width: 100%;
      font-size: 14px;
    }

  .filter-content {
    display: none;
    border-radius: 0 0 5px 5px;
    padding: 6px 9px;
    padding: 6px 9px;
    border-top: none;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    min-width: 150px;

    &.open {
      display: block;
    }

    label {
      display: block;
      margin-bottom: 3px;
      margin-bottom: 3px;
      cursor: pointer;
      font-size: 12px;

      input {
        margin-right: 6px;
        cursor: pointer;
      }

      &:hover {
        background: #F5F5F5;
      }
    }
  }
}

// Grey out filtered elements 
.filtered-hidden-explicit {
  opacity: 0.3 !important;
  filter: grayscale(100%);
  pointer-events: none;
}

.filtered-hidden-implicit {
  opacity: 0.0 !important;
  filter: grayscale(100%);
  pointer-events: none;
}

.rationale-color{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border-radius: 3px;
  vertical-align: middle;
}

.rationale-color-best-practice { background: #13DCA7; }
.rationale-color-business-rule { background: #8081EF; }
.rationale-color-norm-or-law { background: #FF81F1; }
.rationale-color-law-of-nature { background: #F5CD68; }
.rationale-color-not-assigned { background: #000000; }

